<div class="message well" data-time="<%= message.created_at.to_i %>">
<div id="content">
	<%= message.content %>
</div>
<div id="info"><span><%= message.username %>   </span>
<%= time_ago_in_words(message.created_at) %> ago</div>
</div>