<% @messages.each do |m| %>
	<div id="message" class="well">
		<div id="content"><%= m.content %></div>
		<div id="info"><span><%= m.username %>   </span>
		<%= time_ago_in_words(m.created_at) %> ago</div>
	</div>
<% end %>
