<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<p><%= App.find(:all) %></p>
<p><%= Message.find(:all) %></p>

<% @messages.each do |c| %>
	<%= c.content %>
	<%= c.app.app_title %>
<% end %>